.app-title {
  margin: 24px 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #242F38;
}

.list-label {
  width: 260px;
  margin-right: 20px;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 22px;
  color: #99A0A8;
  flex-shrink: 0;
}

.list-value {
  max-width: 270px;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 22px;
}
